*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom left, #32a7f0 0%, #0a2d41 100%);
    padding: 10px;
}

.todo-app{
    width: 100%;
    height: 450px;
    max-width: 540px;
    background: #EAD8C0;
    margin:150px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 50px;
    box-shadow: 0px 0px 50px #afafaf;
    box-shadow: 0px 0px 30px #afafaf;
}

h2{
    color:#002765;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    left: 120px;
    font-size: 30px;
    position: relative;
}

.todo-app h2 img{
    position: absolute;
    right: 230px;
    width: 90px;
    margin-left: 20px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    outline: 4px groove transparent;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 10px #5d5d5d;
}

.row input{
    flex: 1; 
    border:none ;
    outline: none;
    padding: 10px;
    background: transparent;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}
.row input::placeholder{
    color: #1e008d;
}

.row button{
    border: none;
    outline: none;
    padding: 16px 30px;
    background: indianred;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 30px;
    margin: 0px;
}
.todos{
    height: 200px;
    overflow: overlay;
}

.todos::-webkit-scrollbar-track  {
    background: rgb(247, 247, 247);
    border-radius: 20px
}
  
.todos::-webkit-scrollbar  {
    width: 0;
}
  
.todos:hover::-webkit-scrollbar  {
    width: 7px;
}
  
.todos::-webkit-scrollbar-thumb  {
    background: #d5d5d5;
    border-radius: 20px;
}

ul li{
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    margin-block: 10px;
}

ul li::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: url('unchecked.png');
    background-size: cover;
    background-position: center;
    top:7.5px;
    left: 8px;
}

ul li.checked{
    background: #8C6A5D;;
    color: #fff;
    border-radius: 50px;
}

ul li.checked::before{
    background: url('checked.png');
    background-size: cover;
}

ul li span{
    position: absolute;
    top: 7.5px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    font-size: 22px;
    color: #a73737;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

ul li.checked span{
    color: #ffffff;
}

ul li.checked span:hover{
    background: #fff;
    color: #ba5555;
}

ul li span:hover{
    background: #c25050;
    color: #fff;
}
